<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>&Scaron;ihti - Administrator</title>

{% load static %}




  <link rel="stylesheet" href="{% static 'administrator.css' %}">
  <link rel="stylesheet" href="{% static 'timetables.css' %}">
  <!-- fontawesome icons -->
  <script src="https://kit.fontawesome.com/c76b2f6769.js" crossorigin="anonymous"></script>

{% block head %}{% endblock %}

</head>

<body>
  {% include 'navbar.html' %}

<div id="div-body" class="mt-0">
  {% csrf_token %}

<input type="hidden" id="group" value="{{ group.id }}"/>


<div class="container">
<div class="row p-o">

<div class="col-sm-6">
  {% if finnished %}
  <button type="button"onclick="location.href = 'urnik/';" class=" bg-green mt-5 w-100 urniki-button" id="urniki-button"  data-toggle="tooltip" data-placement="top" title="Končan urnik" >
	  <h2 class="mt-3 mb-0"><strong>Urnik</strong></h2><small class="mt-0"><strong>{{ group.get_first_day }} - {{ group.get_last_day }}</strong></small>
  </button>
  {% else %}
  <button type="button" data-toggle="tooltip" data-placement="top" title="Nedokončan urnik" onclick="location.href = 'urnik/';" class=" bg-orange mt-5 w-100 urniki-button" id="urniki-button">
	  <h2 class="mt-3 mb-0"><strong>Urnik</strong></h2><small class="mt-0"><strong>{{ group.get_first_day }} - {{ group.get_last_day }}</strong></small>
  </button>
  {% endif %}
</div>

<div class="col-sm-6">
  <button type="button" id="turnusi-button" class="mt-5 w-100 urniki-button" style="background-color: #81c3fe" onclick="location.href='turnusi/'" ><h2><strong>Turnusi</strong></h2></button>
</div>

<!-- Sporočila -->
<div class="col-sm-6 mt-4">
  <div class="h1-group">
    <h2 class="text-center">Sporo&ccaron;ila</h2>
  </div>

  <div id="messages-div">
    {% for message in messages %}    
    <div class="alert fade show p-1 m-2 pl-2 overflow-auto 
      {% if message.user.username == administrator %}alert-warning{% else %}alert-info{% endif %} {% if forloop.counter > 3 %}hidden{% endif %}">  
      <p class="text-muted m-0 p-0"><small>{{ message.date }}</small></p>
      {{ message.text }}
      <p><strong>- {{ message.user }}</strong></p>
    </div>
    {% endfor %}
  </div>

  <div class="input-group mx-2 mt-3 mb-0" id="messages-div">
  <input type="text" class="form-control" id="messages-input" placeholder="Vpiši.." aria-label="message" >
  <div class="input-group-append mr-3">
    <button class="btn btn-info text-white" id="messages-submit" type="button">Pošlji</button>
  </div>
  </div>

  <div class="text-center">
    <a  id="toggle-messages"><i class="fas fa-caret-down text-center"></i></a>
  </div>

 </div>


<div class="col-sm-6 mt-4">
  <div class="h1-group">
    <h2 class="text-center">Ekipa</h2>
  </div>
  <div class="user-list-grid text-center m-0">
    <span class="alert-warning m-1">{{ administrator }}</span>
      {% for user in users %}
        {% if user.username != group.administrator.user.username %}
          <span class="remove-user alert-info m-1" data-user="{{ user }}" data-id="{{ user.id }}">{{ user }}</span>
        {% endif %}
     {% endfor %}
  </div>
  <div class="text-center mt-3"><a><i class="fas fa-plus text-center" id="user-add"></i></a></div>
</div>

<!-- konec ROW-->
 </div>  
</div>
</div>


{% include 'group_extra_administrator.html' %}

<footer class="page-footer font-small mt-5 bg-dark" id="footer">
  <div class="footer-copyright text-center py-3 text-white"><b>&Scaron;ihti 2020</b>
  </div>
</footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- timetables.js -->
<script src="{% static 'administrator.js' %}"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>