


	<div class="text-center"><i class="fas fa-caret-up text-center" id="load-up" ></i></div>

<div class="table-responsive">
<table class="table mb-0" style="width:100%;">

<tbody>
<tr class="">
  <td colspan="2" style="width: 15%;"><div class="text-center"><b>Dan</b></div></td>
  <td colspan="12"><div class="text-center"><b>Izmene</b></div></td>
</tr>

{% for date, day in load_days.items %}
<tr class="date">
  <td colspan="2" class="text-center day-td {% if day.current == True %} table-active {% else %} not-current {% endif %}" id="{{ date|date:'Y-m-d'}}" data-date="{{ date }}">{{ date|date:"D, j.n"  }}</i>
  </td>

  {% for shift in day.get_shifts %}
  <td colspan class="{{ shift.shift_class }} {% if not shift.employee %} a {% endif %} text-center shift"
    data-class="{{ shift.shift_class }}" data-date="{{ date |date:'Y-m-d' }}" data-id="{{ shift.id }}" data-start="{{ shift.start|date:'H:i' }}" data-end="{{ shift.end|date:'H:i' }}" data-employee="{{ shift.employee}}" id="{{ shift.id }}">
    {{ shift.employee|default:"" }} <small>{{ shift.start|date:"H:i" }} - {{ shift.end|date:"H:i" }}</small>
</td> 

    {% endfor %}

</tr>

{% endfor %}




</tbody>
</table>
</div>
<div class="text-center"><a class="" href="#"><i class="fas fa-caret-down text-center" id="load-down"></i></a></div>
