<div class="text-center mb-1"><i class="fas fa-caret-up text-center" id="load-up"></i></div>
<div class="table-responsive">
<table class="table mb-0">

<tbody>
<tr class="">
  <td colspan="2" class="text-center" style="width: 15%;"><b>Dan</b></td>
  <td colspan="12" class="text-center"><b>Izmene</b></td>
</tr>

{% for date, day in load_days.items %}
<tr class="date">
  <td colspan="2" id="{{ date|date:'Y-m-d'}}" data-day="{{ day.id }}"
    class="text-center day-td day-{{ day.id }} {% if day.current == True %} table-active {% elif load_direction %} day-{{ load_direction }} {% endif %}">
      {{ date|date:"D, j.n"  }}
  </td>

  {% for shift in day.get_shifts %}
  <td colspan class="{{ shift.shift_class }} {% if not shift.employee %} a {% endif %} text-center shift"
    data-class="{{ shift.shift_class }}" data-date="{{ date|date:'Y-m-d' }}" data-id="{{ shift.id }}"
      data-time="{{ shift.start|date:'H:i' }} - {{ shift.end|date:'H:i' }}"
      id="{{ shift.id }}">
    {{ shift.employee|default:"" }} <small>{{ shift.start|date:"H:i" }} - {{ shift.end|date:"H:i" }}</small>
    </td>

    {% endfor %}
</tr>

{% endfor %}




</tbody>
</table>
</div>
<div class="text-center m-0 mb-3"><a><i class="fas fa-caret-down text-center" id="load-down"></i></a></div>