<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>&Scaron;ihti - Urnik</title>

{% load static %}


  <link rel="stylesheet" href="{% static 'timetables.css' %}">
  <script src="https://kit.fontawesome.com/c76b2f6769.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% block head %}{% endblock %}

</head>

<body>
    {% include 'navbar.html' %}
    
<div id="div-body">
	<input type="hidden" id="url" value="/urniki/{{ group.id }}/urnik/" />
  <input type="hidden" id="group" value="{{ group.id }}" />
{% csrf_token %}


{% include 'timetable_load.html' %}
 


{% include 'timetable_extra.html' %}




{% if 'load_to' in request.get_full_path %}
<div id="reset">
<i class="fas fa-redo-alt"></i>
</div>
{% endif %}

</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- timetables.js -->
<script src="{% static 'timetables.js' %}"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% if scroll %}
<script type="text/javascript">
  $("html, body").animate({ scrollTop: $(document).height() }, "slow");
</script>
{% endif %}
<script>
   colorWeeks();
</script>
</body>

</html>
